
.b {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #D32F2F;
    padding: 14px 40px;
    outline: none;
    color: #D32F2F;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.b:hover{
    background: #D32F2F;
    color: #fff;
    transform: scale(1.1);
}

.bt{
    border: 0;
    background: #D32F2F;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #D32F2F;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer; 
}

/* .bt:hover{
    background: none;
    color: #D32F2F;
} */

.caja {
    margin:20px auto 40px auto;	
    border:1px solid #D32F2F;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
 }
 select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
 }
 select:focus{ outline: none;}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#D32F2F;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }

 .check label{
    color: #000;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
 }

 .check label:hover{
    background:#9c9c9c;
 }
 
 .check label:before{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: none;
    position: absolute;
    left: 17px;
 }

 .check label:before{
    border-radius: 3px;
 }

 input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background: #00cc00;
    border-radius: 2px;
    color: #fff;
 }