
#buscar{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 70%;
}

#buscar input{
	padding: 4px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
}
/*aux=Filtrar por categoria:*/
#form-cat form, #aux, input{
	display: inline-block;
}

#disponible{
	color: #4EE56C;
}
#reserva{
	color: #FFDD00;
}
#agotado{
	color: #D32F2F;
}