.informacion {
	border: 2px solid orange;
	width: 100%;
	height: 20%;
	margin: 20px;

}

.informacion *{
margin:20px;
}

.informacion h5, span, div{
	display: inline-block;
}

.informacion p{
	
}

.estado{
	margin: 0;
	align-items: center;
}

.estado div, label{
	display: block;
}

#efectuado{
	margin:40px;
     border-right: 20px solid transparent;
     border-left: 20px solid transparent;
     border-bottom: 50px solid #658EE1;
}
#transportado{
	margin:40px;
     border-right: 20px solid transparent;
     border-left: 20px solid transparent;
     border-bottom: 50px solid #FFDD00;
}
#recibido{
	margin:40px;
     border-right: 20px solid transparent;
     border-left: 20px solid transparent;
     border-bottom: 50px solid #4EE56C;
}
#invalido{
	margin:40px;
     border-right: 20px solid transparent;
     border-left: 20px solid transparent;
     border-bottom: 50px solid #D32F2F;


}