body{
	margin: 0;
	font-family: sans-serif;
}


header{

	background-color: #D32F2F;
	padding: 10px;
	border: 2px solid black;
}

section{
	display: block;


}

table {
	border: 1px solid #b9b9b9;
}

table * {
	border: 1px solid #b9b9b9;
}

section nav{
	float: left;
	margin-top: 0;
	background-color: gray;
	padding: 10px;
	width: 20%;
	border: 2px solid black;
}

section nav ul{
	text-align: center;
}

section nav, ul, li{
	margin-top: 20px;
}

section nav, ul, li, a{
	list-style: none;
	text-decoration: none;
	color: black;
}
section nav, ul, li, i {
	margin-right: 10px;
	padding: 7px;
}

#user{
	text-align: center;
}

#name{

}

#employee{
	font-size: 11px;
}

.list{
	display: block;
}

section div{
	float: right;
	margin: 20px;
}