#verificar{
	width: 70%
}

#verificar h2{
	text-align: center;
	align-items: center;
}

#verificar form, input{
	display: block;
}
.bloque{
	display: inline-block;
}

.txt{
	border: 2px solid #D32F2F;
	border-radius: 24px;
	outline: none;
	padding: 6px 6px;
}
.txt2{
	border: 2px solid #D32F2F;
	outline: none;
	padding: 6px 6px;
}

.txtA{
	border: 2px solid #D32F2F;
	outline: none;	
	resize: none;
}

.contentActividades {
    padding: 1em;
}

.divisorSecundario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    margin-top: 10px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}
.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
